*{
    margin: 0;
    padding: 0;
}

/* section one */
.slideone{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(100deg, white 60%, rgb(251, 192, 44) 60%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 90%;
    margin:auto;
}
.logo{
    display: flex;
    align-items: center;
    margin: 20px;
}
.begin{
    color: #000000;
    font-size: 40px;
    font-weight: bolder;
}
.end{
    color: #ffc12b;
    font-size: 40px;
    font-weight: bolder;
}
#headertop{
    float: right;
}
#headertop ul{
    list-style: none;
    display: flex;
}
#headertop ul li{
    padding: 20px;
    font-size: 20px;
}
.pg1{
    float: left;
    margin-top: 180px;
    margin-left: 120px;
    width: 500px;
    height: 200px;
    font-size: 30px;
}

#cityimage{
    width: 500px;
    height: 600px;
    margin-left: 25%;
    margin-top: 3%;
}
#order{
    font-size: x-large;
    width: 150px;
    height: 50px;
    margin: 20px;
    margin-top: 100px;
    background-color: rgb(245,148, 40);border-radius: 50px;
    color: whitesmoke;

}

/* section one */


/* section two */

.slidetwo{
    display: flex;
    justify-content: space-around;
    background: rgb(247, 253, 245);
    height: 650px;
    border: 1px solid rgb(247, 253, 245);
}
.quality1{
    border: 1px solid rgb(221, 221,221);
    border-width: 3px;
    height: 450px;
    width: 380px;
    border-radius: 50px;
    margin-top: 100px;
}
.fast{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height: 550px;
    width: 410px;
    border-radius: 50px;
    margin-top: 60px;

}
.delicious{
    border: 3px solid rgb(221, 221,221);
    border-width: 3px;
    height: 450px;
    width: 380px;
    border-radius: 50px;
    margin-top: 100px;
}
#fooddish{
    padding-left: 120px;
    padding-top: 50px;
}
#van{
    padding-left: 150px;
    padding-top: 120px;
}
#burgerdrink{
    padding-left: 120px;
    padding-top: 50px;
}
/* section two */

/* section three */
.sectionthree{
    border: 1px solid white;
    height: 1100px;
    text-align: center;
}
.card{
    border: 5px solid rgb(247, 253, 245);
    height: 450px;
    width: 300px;
    border-radius: 50px;
    background-color: white;
    box-shadow:5px 5px rgba(0, 0, 0, 0.9);
}
.card img{
    margin-left: 40px;
}
.price{
    font-weight: 520;
    font-size: 25px;
    margin-left: -190px;


}
.cart{
    float: right;
    margin-right: 20px;
}

.rowone{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}
.rowtwo{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}
/* Section three */



/* section four */
.sectionfour{
    border: 1px solid rgb(247, 253, 245);
    height: 700px;
    background-color: rgb(247, 253, 245);
}

.contentfour h3{
    font-size: 40px;
    font-weight: 500px;
    
}

.doubleimage{
    float: right;
}

/* section four */


/* section five */
.sectionfive{
    border: 1px solid rgb(251, 192, 44);
    height: 800px;
    background-color: rgb(246, 180, 44);


}
.sectionfive p{
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
}
.twophones{
    float: right;
}
/* section five */




/* section six */
.sectionsix{
    height: 200px;
    border: 1px solid rgb(247, 253, 245);
    background-color: rgb(247, 253, 245);
    display: flex;
    justify-content: space-around;
}
.logotwo{
    display: flex;
    align-items: center;
}
.sectionsix ul{
    list-style: none;
    text-align: center;
}
.sectionsix ul :first-child{
    font-size: 30px;
    font-weight: bold;
}
/* section six */




/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-right: 80px;
    margin-left: 20px;
}
/* footer */