*{
    margin: 0;
    padding: 0;
}
.slideone{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(100deg, white 60%, rgb(255, 217, 0) 60%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 90%;
    margin:auto;
}
.logo{
    display: flex;
    align-items: center;
    margin: 20px;
}
.begin{
    color: #000000;
    font-size: 40px;
    font-weight: bolder;
}
.end{
    color: #ffc12b;
    font-size: 40px;
    font-weight: bolder;
}
#headertop{
    float: right;
}
#headertop ul{
    list-style: none;
    display: flex;
}
#headertop ul li{
    padding: 20px;
    font-size: 20px;
}
.pg1{
    float: left;
    margin-top: 180px;
    margin-left: 120px;
    width: 500px;
    height: 200px;
    font-size: 30px;
}
#cityimage{
    width: 500px;
    height: 600px;
    margin-left: 25%;
    margin-top: 3%;
}
#order{
    font-size: x-large;
    width: 150px;
    height: 50px;
    margin: 20px;
    margin-top: 100px;
    background-color: rgb(245,148, 40);border-radius: 50px;
    color: whitesmoke;

}
/* container one */
.slidetwo{
    display: flex;
    justify-content: space-around;
    background: rgb(247, 253, 245);
    height: 70vh;
    padding: 10px;
}
.quality1{
    border: 1px solid rgb(221, 221,221);
    border-width: 3px;
    height: 450px;
    width: 380px;
    border-radius: 50px;
    margin-top: 100px;
}
.fast{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height: 550px;
    width: 410px;
    border-radius: 50px;
    margin-top: 60px;

}
.delicious{
    border: 3px solid rgb(221, 221,221);
    border-width: 3px;
    height: 450px;
    width: 380px;
    border-radius: 50px;
    margin-top: 100px;
}
h2{
    text-align: center;
    line-height: 100px;
}
p{
    text-align: center;
    font-weight: 1400px;
}
#fooddish{
    padding-left: 120px;
    padding-top: 50px;
}
#van{
    padding-left: 150px;
    padding-top: 120px;
}
#burgerdrink{
    padding-left: 120px;
    padding-top: 50px;
}
/* container two */
.ourmenu{
    background-color: rgb(255, 255, 255);
    height: 130vh;
}
.double1{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
}
#seek2{
    height: 100px;
    width: 100px;
}
.double2{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    padding-left: 50px;
}
#seek1{
    height: 100px;
    width: 100px;
}
.double3{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
}
#seek3{
    height: 100px;
    width: 100px;
}
.double4{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
}
#seek4{
    height: 100px;
    width: 100px;
}
.double5{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
}
#seek5{
    height: 100px;
    width: 100px;
}
.double6{
    border: 1px solid rgb(221, 221, 221);
    border-width: 3px;
    height:450px;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
}
#seek6{
    height: 100px;
    width: 100px;
}
/* container three */

.menu{
    font-weight: 1000px;
    text-align: center;
}
#menu{
    color: rgb(251, 192, 44);
}
#menuup{
    display: flex;
    justify-content: space-around;
}
#menubottom{
    display: flex;
    justify-content: space-around;
}

.sitemap{
    float: left;

}
.btn{
    float: right;
}
#doubleimage{
    display: flex;
}
.decker{
    height: 450px;
    display: flex;
    background: rgb(240, 238, 230);
    font-size: xx-large;
}
.discover{
    background: rgb(255, 217, 0);
    height: 50vh;
    width: 100%;
    display: flex;
}
#secondlast{
    background: rgb(240, 238, 230);
    height: 200px;
    width: 100%;
}
.footer{
    display: flex;
    list-style: none;
    padding: 10px;
}
.footer ul{
    float: left;
}
